
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.box {
  display: flex;
}

//переменные
//--------------------------------------------

$minWidth: 320px;
$maxWidth: 1152px;
$maxWidthContainer: 856px;
//$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;


body {
  height: 100%;
  font-family: 'Heebo', sans-serif;
  color:  #21243D;
  font-size: 14px;
  &.__lock{
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}

._container {
  max-width: 877px;
  padding: 0 10px;
  margin: 0 auto;


  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
  }
}



main{
  padding-top: 90px;
  flex: 1 1 auto;
  @media (max-width: $md3+px){
    margin-top: 30px;
  }
}

//btn
//-------------------

.btn{
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #FF6464;
  border-radius: 2px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  line-height: 145%;
  height: 47px;
  padding: 8px 20px;
  transition: all 0.3s ease 0s;
  @media (min-width: 992px) {
    &:hover{
      background: #c44545;
    }
  }
}

.title{
  font-size: 44px;
  font-weight: 700;
  line-height: 136.36%;
  color: #21243D;

}

.title-posts{
  font-size: 22px;
}

.text{
  color: #21243D;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
}

._ibg{
  position: relative;
  img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
body{
  ._ibg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
._ibg img{
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

//---------------------------
//Header
//-----------------------------------------------------------------------------
.header{
  position: relative;
  z-index: 100;
}

.header__content {
  max-width: 1052px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__menu {
  height: 82px;
  padding: 10px 0;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  @media (max-width: $md3+px) {
    height: 50px;
  }
}

.menu {
  &__body {
    @media (max-width: $md3+px) {
      transform: translate(0, -100%);
      transition: transform 0.8s ease 0s;
      position: fixed;
      padding: 70px 10px 30px 10px;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: auto;
      background-color:rgba(255,255,255,0.9);
      &._active{
        transform: translate(0, 0%);
      }
    }
  }

  &__list {
    li {
      margin-left: 33px;
    }

    @media (min-width: $md3+px) {
      display: flex;
    }
    @media (max-width: $md3+px) {
      li {
        margin-bottom: 20px;
        margin-left: 0;
      }
    }
  }

  &__link {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    transition: color 0.3s ease 0s;
    &._active{
      color: #FF6464;
    }
    @media (min-width: $md2+px) {
      &:hover {
        color: #FF6464;
      }
    }
    @media (max-width: $md3+px) {
      font-size: 40px;
      display: block;
      text-align: center;
    }
  }
}

@media (max-width: 960px) {
  ._container {
    max-width: 720px;
  }
}

//Burger
//-------------------------------------------------------------

.icon-menu {
  display: none;
  @media (max-width: $md3+px) {
    display: block;
    position: relative;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    span {
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000000;

      &:first-child {
        top: 0;
      }

      &:last-child {
        top: auto;
        bottom: 0;
      }
    }
    &._active {
      span {
        transform: scale(0);
        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }
  .close-btn{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 15px;
    top: 31px;
    cursor: pointer;
  }

  .close-btn:after,
  .close-btn:before{
    content: "";
    width: 70px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transform-origin: left;
  }

  .close-btn:after{
    transform: rotate(45deg);
  }

  .close-btn:before{
    transform: rotate(-45deg);
    bottom: -1px;
  }
}

//Hello
//-----------------------------------------------

.hello{
  padding: 38px 0 70px 0;
}

.hello__container{
  display: flex;
}

.hello__content{
  flex: 1 1 auto;
  align-items: flex-start;
  padding-right: 110px;
  *:last-child{
    margin-bottom: 0;
  }
}

.hello__title{

}

.hello__text{
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 143.75%;
}

.hello__btn{
  
}

.hello__avatar{
  flex: 0 0 243px;
  height: 243px;
  overflow: hidden;
  img{
    max-width: 100%;
  }
}


@media (max-width: $md2+px) {
  .page{
    margin-top: 0;
    padding-top: 50px;
  }
  .hello{
  }
  .hello__content{
    padding: 0 50px 0 0;
  }
  .hello__text{
    padding: 0 15px 27px 0;
  }
}

@media (max-width: $md3+px) {
  .hello{
    padding: 0;
  }
  .hello__container{
    flex-direction: column-reverse;
    text-align: center;
  }
  .hello__content{
    padding: 0;
  }
  .hello__title{
    font-size: 30px;
  }
  .hello__text{
    padding: 0 15px 27px 0;
  }
  .hello__avatar{
  flex: 0 0 170px;
  img{
    width: 170px;
    height: 170px;
  }
  }
}

//Posts
//---------------------------------------------

.posts{
  background: #EDF7FA;
  padding: 25px 13px;
}

.posts__header{
  display: flex;
  margin-bottom: 22px;
}
.posts__title{
  padding-right: 20px;
  flex: 1 1 auto;
  font-size: 22px;
}
.posts__view-all{
  flex: 0 0 auto;
  font-size: 16px;
  line-height: 23px;
  color: #00A8CC;
}
.posts__items{

  margin: 0 -10px;
}
.posts__column{
  flex: 0 1 50%;
  padding: 0 10px;
  margin-bottom: 17px;
}
.post{
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  padding: 20px;
}
.post__title{
  display: inline-block;
  margin-bottom: 17px;
  font-weight: bold;
  font-size: 26px;
  line-height: 146%;
  color: #21243D;
}
.post__info{
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 144%;
  span{
    margin: 0 10px;
  }
}



@media (min-width: $md3+px){
  .posts__items{
    display: flex;
  }
}

@media (max-width: $md3+px){

  .posts__title{
    font-size: 22px;
    text-align: center;
  }
  .posts__view-all{
    display: none;
  }
}

//Works
//--------------------------------------------------

.works{
  padding: 30px 0 80px 0;
}
.works__title{
  margin-bottom: 30px;
}
.work__item{

  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.work__image{
  display: block;
  flex: 0 0 246px;
  border-radius: 6px;
  min-height: 180px;
  overflow: hidden;
}
.work__body{
  flex: 1 1 auto;
  padding-left: 18px;
}
.work__title{
  margin-bottom: 15px;
  color: inherit;
  font-size: 30px;
  line-height: 146.6%;
  font-weight: 700;
}
.work__info{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.work__year{
  background: #142850;
  border-radius: 16px;
  font-weight: 900;
  font-size: 18px;
  height: 25px;
  color: #FFFFFF;
  padding: 0 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 333%;
}
.work__category{
  color: #8695A4;
  font-size: 20px;
  margin-left: 25px;
}

@media (min-width: $md3+px){
  .work__item{
    display: flex;
    align-items: flex-start;
  }
}

@media (max-width: $md3+px){
  .works{
    padding: 0;
  }
  .work__item{
    text-align: center;
  }
  .work__image{
    margin-bottom: 30px;
  }
  .work__info{
    padding-left: 40px;
    margin-bottom: 15px;
  }
  .title-posts{
    text-align: center;
  }
  .work__title{
    font-size: 24px;
  }
}

//Footer
//---------------------------------------------




.footer{
  padding-top: 55px;
  padding-bottom: 55px;
}
.footer__content{
  text-align: center;

}

.footer__social a + a{
  padding-left: 35px;
}
.footer__copy{
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  padding-top: 26px;
  color: #21243D;
}





//Blog страница
//=====================================================

.blog{
  padding-bottom: 50px;
}
.blog__title{
  margin-bottom: 50px;
}

.blog__subtitle{
  display: inline-block;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 500;
  line-height: 146.6%;
  color: #21243D;
}
.blog__item{
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 30px;
  margin-bottom: 30px;
  &:last-child{
    margin: 0;
  }
}
.blog__info{
  margin-bottom: 10px;
  display: flex;
  font-size: 20px;
}
.blog__date{

}
.blog__separator{
  margin: 0 15px;
}
.blog__category{
  color: #8695A4;
}

@media (max-width: $md3+px) {
  .blog__title{
    margin-bottom: 20px;
  }
  .blog__subtitle{
    font-size: 26px;
  }
  .blog__item{
    margin-bottom: 25px;
    padding-bottom: 25px;
  }
  .blog__info{
    font-size: 16px;
  }
}

























